body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
  min-height: 100vh;
  height: 100%;
}

.dark-wrapper {
  background: rgb(86, 119, 147);
  background: linear-gradient(7deg, rgba(86, 119, 147, 1) 0%, rgba(74, 88, 236, 1) 100%);
}

.light-wrapper {
  background: rgb(255, 246, 199);
  background: linear-gradient(298deg, rgba(255, 246, 199, 1) 0%, rgba(176, 183, 255, 1) 100%);
}